* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 400;
  display: grid;
  grid-template-rows: repeat(4, 100vh);
}

h1, h2, h3 {
  font-weight: 600;
}

p {
  color: silver;
}

.clipboard-home {
  background-image: url(/clipboard-landing-page/images/bg-header-desktop.png);
  background-repeat: no-repeat;

  text-align: center;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}




